@import "tailwindcss";


html, body {
  font-family: "Poppins", sans-serif;
  background: #0b0b0c; /* luxury dark base */
  color: #f5f5f5;
}

::selection {
  background: #b68a5a; /* tobacco gold */
  color: #0b0b0c;
}
